@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
:root{
	--color-morado:#5c0bb7;
	--color-gris:#f6f6f6;
	--color-gris-claro: #fdfdfd;
	--color-hover-gris: #efefef;
}
body{
	font-family: 'Open Sans' sans-serif;
	font-size: 14px;
	color: #7b7b7b;
	line-height: 1.8 !important;
}
.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky{
	background-color: #000 !important
}

.lista-redes a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 100%;
	background-color: #ccc;
	display: block;
	color: #FFF;
}
.lista-redes li{
	padding-right: 10px;
}
.lista-redes .facebook{
	background-color:#3b5998;
}
.lista-redes .twitter{
	background-color: #0c9aca;
}



#hero{
	background-image: url("../img/oshine-v19-intro.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	color: #FFF;
	height: 100vh;
}

#hero h1{
	font-size: 70px;
	margin-bottom: 5%;
	font-weight: 800;
}
#hero h2{
	font-size: 20px;
	margin-bottom: 5%;
}



.btn-morado{
	background-color: var(--color-morado);
	text-transform: uppercase;
	padding: 12px 40px;
	border-radius: 40px;
	border: 3px solid var(--color-morado);
	font-size: 14px;
	font-weight: 600;
}
.btn-about{
	background-color: transparent;
	text-transform: uppercase;
	padding: 15px 40px;
	border-radius: 40px;
	border: 3px solid #FFF;
	font-size: 14px;
	font-weight: 600;
	margin-right: 20px;
}
.btn-about:hover{
	background-color: var(--color-morado);
	border-color: var(--color-morado);	
}

.overlay-hero{
	background-color: rgba(0,0,0,0.80);
	padding-top: 10%;
	height: 100%;
}

#about{
	background-color: var(--color-morado);
	color: #FFF;
	text-align: center;
	padding: 80px;
}

#about h3{
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 100;
}
#about p{
	font-size: 33px;
	padding-top: 40px;
}

#features{
	text-align: center;
}

#features article{
	padding: 5% 0;
	color: #7b7b7b;
}

#features article:hover{
	background-color: var(--color-hover-gris) !important;
}

#features article:first-child
#features article:last-child{
	background-color: var(--color-gris);
}

#features article:nth-child(2){
	background-color: var(--color-gris-claro);
}

#features article h3{
	color: #222;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 5%;
}

#features article i{
	color: var(--color-morado);
	font-size: 30px;
}

.section{
	padding: 60px 0;
}

.subtitulo{
	color: #2d2d2d;
	font-size: 17px;
	text-align: center;
}



.titulo{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5%;
	text-align: center;
}

#team .titulo{
	margin-bottom: 2%
}

#team{
	text-align: center;
}

#team h4{
	color: #2d2d2d;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 3% 0;
}

#team h5{
	color: #2d2d2d;
	font-size: 14px;
	margin: 3% 0;
}

#team img{
	filter: grayscale(1);
	transition: all 0.3s ease-in-out;
}

#team img:hover{
	filter: grayscale(0);
	transition: all 0.3s ease-in-out;
}

#passion i{
	color: #823A77;
}

#passion{
	background-image: url("../img/bg-parallax.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 3% 0;
}

.btn-clients{
	background: #5F5F5F;
	border-radius: 40px;
	padding: 15px 40px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	padding-top: 5% 0;
	transition: all 0.3s ease-in-out;
}

.btn-clients:hover{
	background: var(--color-morado);
	border-radius: 40px;
	padding: 15px 40px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#web{
	background-color: #ecf0f1;
	padding: 4% 0;
}

#web h2{
	margin-bottom: 30px;
	color: #000;
}

#brands{
	padding: 3% 0;
}

#brands h2{
	color: #000;
	padding: 2% 0;
}

#services{
	background: #3E3E3E;
	padding: 5% 0;
}





